{% extends "layout.html" %} {% block body %} {% if session["username"] %} Xin
chào {{session["username"]}} <a href="/logout"> Đăng xuất</a>
{% else %}
<div class="login-form">
  <form action="/login" method="post">
    <input type="text" name="username" placeholder="Username" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Đăng nhập</button>
  </form>
  <a href="/register">Đăng ký</a>
  {% if error %}
  <p style="color: red">{{ error }}</p>
  {% endif %} {% endif %}
</div>

{% endblock %}
