{% extends "layout.html" %}

{% block body %}
<div class="update-profile-form">
  <h1>Chỉnh sửa thông tin cá nhân</h1>
  <form action="/update_profile" method="post">
    <input type="text" name="username" placeholder="{{ users.username}}" readonly />
    <input type="number" name="height" placeholder="Chiều cao (cm)" value="{{ users.height }}" required />
    <input type="number" name="weight" placeholder="Cân nặng (kg)" value="{{ users.weight }}" required />
    <button type="submit">Cập nhật</button>
  </form>
  {% if error %}
  <p style="color: red">{{ error }}</p>
  {% endif %}
{% endblock %}