{% extends "layout.html" %} 
{% block body %}
<div class="update-workout-form">
  <h1>Chỉnh sửa bài tập</h1>
  {% if workout %}
  <form action="{{ url_for('update_workout', id=workout.workout_id) }}" method="post">
    <input type="text" name="title" value="{{ workout.title}}" required />
    <input type="text" name="description" value="{{ workout.description}}" required />
    <input type="text" name="video_url" value="{{ workout.video_url}}" required />
    <button type="submit">Chỉnh sửa bài tập</button>
  </form>
  {% endif %}
  {% if error %}
  <p style="color: red">{{ error }}</p>
  {% endif %}
</div>
{% endblock %}
